<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title th:text="#{library-site-title}">Библиотека</title>
    <link rel="icon" th:href="@{/images/favicon.ico}" href="../static/images/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/styles/library.css}" href="../static/styles/library.css">
</head>
<body>
<details class="lang-selector">
    <summary><img th:src="@{/images/} + ${#locale} + '-icon.png'" src="../static/images/ru-icon.png" height="30"
                  width="30"/></summary>
    <ul>
        <a href="#" th:href="@{/(lang=ru)}">
            <li><img th:src="@{/images/ru-icon.png}" src="../static/images/ru-icon.png" height="25"
                     width="25"/></li>
        </a>
        <a href="#" th:href="@{/(lang=en)}">
            <li><img th:src="@{/images/en-icon.png}" src="../static/images/en-icon.png" height="25"
                     width="25"/></li>
        </a>
    </ul>
</details>
<h3 class="book-header" th:text="#{book-list-header}">Книги</h3>
<table class="library-table">
    <thead>
    <tr>
        <th hidden th:text="#{book-field-id}">ID</th>
        <th th:text="#{book-field-title}">Заголовок</th>
        <th th:text="#{book-field-author}">Автор</th>
        <th th:text="#{book-field-genres}">Жанры</th>
        <th>
            <button sec:authorize="hasRole('ADMIN')" title="Добавить новую книгу" th:title="#{add-book-button-title}"
                    class="book-table-button">
                <a th:href="@{/book/create}">
                    <img th:src="@{/images/add-icon.png}" src="../static/images/add-icon.png" height="25" width="25"
                         align="middle"/>
                </a>
            </button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td hidden th:text="${book.id}">1</td>
        <td th:text="${book.title}">Книга</td>
        <td th:text="${book.author.fullName}">Василий Васильевич Пупкин</td>
        <td>
            <p th:each="genre : ${book.genres}" th:text="${genre.name}">Фантастика</p>
        </td>
        <td>
            <button title="Посмотреть информацию о книге" th:title="#{view-book-button-title}"
                    class="book-table-button">
                <a th:href="@{/book/{id}(id=${book.id})}" href="book-info.html">
                    <img th:src="@{/images/view-icon.png}" src="../static/images/view-icon.png" height="25" width="25"
                         align="middle"/>
                </a>
            </button>
            <button sec:authorize="hasRole('ADMIN')" title="Редактировать книгу" th:title="#{edit-book-button-title}"
                    class="book-table-button">
                <a th:href="@{/book/edit/{id}(id=${book.id})}">
                    <img th:src="@{/images/edit-icon.png}" src="../static/images/edit-icon.png" height="25" width="25"
                         align="middle"/>
                </a>
            </button>
            <form sec:authorize="hasRole('ADMIN')" th:action="@{/book/delete/{id}(id=${book.id})}" th:method="post">
                <button title="Удалить книгу" th:title="#{delete-book-button-title}" class="book-table-button">
                    <img th:src="@{/images/delete-icon.png}" src="../static/images/delete-icon.png" height="25"
                         width="25" align="middle"/>
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>